.SidebarComponent {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.SidebarComponent.closed {
    width: 100%; 
}

.SidebarComponent.open {
    width: 100%; 
    background-color: rgb(249, 249, 249);
}

.SidebarComponent-in {
    width: 100%;
    height: 100vh;
    overflow-y: auto;  
}

.sidebar-one.open {
    width: 100%;
    padding: 1rem 1rem 4rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-one.closed {
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.sidebar-one.open svg {
    font-size: 1.5rwem;
    color: #676767;
    cursor: pointer;  
}

.sidebar-one.closed svg {
    font-size: 1.5rem;
    color: #676767;
    cursor: pointer;  
}



/* sidebar logout button here */

.sidebar-logout {
    width: 100%; 
    position: absolute;  
    bottom: 0;
    padding: .5rem;
}

.sidebar-logout p {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: 1rem;
    border-radius: 10px;
}

.sidebar-logout p svg {
    font-weight: 600;
}

.sidebar-logout-icon {
    font-size: 1.2rem;
    font-weight: 800;
}

.sidebar-logout p:hover {
    background-color: rgb(238, 238, 238);
    color: black;
    font-weight: 600;
}