.ChatComponent {
    width: 100%;
}

.ChatComponent-in {
    width: 100%;
    display: flex;
}

/* Sidebar */
.chat-one.open {
    width: 18%;
    transition: width 0.4s ease-in-out; 
}

.chat-one.closed {
    width: 10%;
    height: 100vh;
    transition: width 0.4s ease-in-out;
}

/* Chat Section */
.chat-two.open {
    width: 82%;
    height: 100vh;
}

.chat-two.closed {
    width: 90%;
    height: 100vh;
}

.chat-two-in {
    width: 100%;
}

.chat-two-one {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-two-one-one {
    width: 50%;
}

.chat-two-one-one h1 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #676767;
}

.chat-two-one-two {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.chat-two-one-two img {   
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.chat-two-one-two p {
    font-size: 1rem;
    border-radius: 5px;
    color: black;
    font-weight: 600;
}

.chat-two-two {
    width: 100%;
    height: 90vh;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.chat-placeholder {
    width: 100%;
}

.chat-placeholder h1 {
    font-size: 1.5rem;
    text-align: center;
    color: #141414;
    font-weight: 600;
}

.chat-response {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: black;
    font-size: 1rem;
    line-height: 1.6;
    overflow: scroll;
    padding: 1rem;
}

.chat-response pre {
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;
    background-color: #f5f5f5;
    border: 1px solid #ddd; 
    display: block; 
    overflow: visible;
}


.chat-loading {
    color: #676767;
    font-size: 1.2rem;
}

.chat-input-container {
    width: 80%;
    display: flex;
    border: 1px solid #d2d0d0;
    border-radius: 10px;
    padding: .5rem;
}

.chat-input {
    width: 95%;
    padding: .5rem;
    border-radius: 5px;
    font-size: 1.2rem;
    outline: none;
    border: none;
}

.chat-send {
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-send svg {
    font-size: 1.8rem;
    color: #676767;
    cursor: pointer;
}

.chat-send svg:hover {
    color: #000;
}
