

.NavbarComponent {
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: #fff;
    border: 1px solid #dcdcdc;
}

.NavbarComponent-in {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.navbar-one {
    width: 50%;
}

.navbar-one h1 {
    font-size: 1.5rem;
    font-weight: 800;
    color: rgb(149, 152, 154);
}

.navbar-one h1 span {
    color: black;
    font-weight: 800;
}

.navbar-two {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-two-one {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.navbar-two-one img {   
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.navbar-two-one p {
    font-size: 1rem;
    border-radius: 5px;
    color: black;
    font-weight: 600;
}

.navbar-two-logout {
    font-size: 1rem;
    border: 1px solid black;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: black;
    font-weight: 600;
}

.navbar-two-logout:hover {
    background-color: black;
    color: white;
}

.navbar-two-two {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-two-two p {
    font-size: 1rem;
    border: 1px solid black;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: black;
    font-weight: 600;
}

.navbar-two-two p:hover {
    background-color: black;
    color: white;
}

